@define-color color_picked #FFFFFF;

button.large {
  min-width: 48px;
  min-height: 48px;
}

colorbutton {
  background-color: @color_picked;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px alpha(currentColor, 0.3);
}

colorbutton > image {
  transition: ease-in-out 0.125s;
}

colorbutton:not(:hover):not(:focus) > image {
  transition: ease-in-out 0.25s;
  opacity: 0;
}

colorbox {
  background-color: @color_picked;
  box-shadow: inset 0 -1px alpha(currentColor, 0.3);
}

windowcontrols.light > button, colorbutton.light > image { color: @theme_base_color; }
windowcontrols.dark > button, colorbutton.dark > image { color: @theme_fg_color; }